@model ConGest.Models.Collaborateur

@{
    ViewData["Title"] = "Modifier un collaborateur";
}

<h1>Modifier un collaborateur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCollaborateur">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Couleur" class="control-label"></label>
                <input asp-for="Couleur" class="form-control" type="color" />
                <span asp-validation-for="Couleur" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Fonction" class="control-label"></label>
                <input asp-for="Fonction" class="form-control" />
                <span asp-validation-for="Fonction" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstActif" /> @Html.DisplayNameFor(model => model.EstActif)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Retour</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}