@model ConGest.Models.JourBloque
@{
    ViewData["Title"] = "Modifier un jour bloqué";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modifier un jour bloqué</h1>

<h4>JourBloque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateBloquee" class="control-label"></label>
                <input asp-for="DateBloquee" class="form-control" />
                <span asp-validation-for="DateBloquee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raison" class="control-label"></label>
                <input asp-for="Raison" class="form-control" />
                <span asp-validation-for="Raison" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilisateurBloqueur" class="control-label"></label>
                <input asp-for="UtilisateurBloqueur" class="form-control" readonly />
                <span asp-validation-for="UtilisateurBloqueur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="JoursBloques" asp-controller="Admin">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}